In [ ]:
#BASIC STATISTICS-2

In [ ]:
#Context:
#A hospital maintains patient records including admission details, department, diagnosis, doctor, and bill amount. You have two datasets: one with patient info and another with billing details. Some patients have blank bill amounts, and there are multiple rows for the same patient due to follow-ups.

In [1]:
#Tasks:

In [2]:
#1.	Load the patient dataset and show summary with info().

In [3]:
import pandas as pd

In [4]:
pdf= pd.read_csv("Patient_Data.csv")

In [5]:
pdf

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

In [6]:
pdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [ ]:
#2.	Select only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].

In [7]:
df1= pdf[pdf.columns[[0,2,3,4]]]
df1

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

In [ ]:
#3.	Drop administrative columns like ['ReceptionistID', 'CheckInTime'].

In [9]:
df2= pdf.drop(pdf.columns[[5,6]],axis=1)
df2

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN
5        101    Alice   Cardiology  Dr. Smith      5000.0

In [ ]:
#4.	Use groupby to find total bill amount per department.

In [12]:
df2.groupby('Department')["BillAmount"].sum()

Department
Cardiology     16200.0
Dermatology        0.0
Neurology          0.0
Orthopedics     7500.0
Name: BillAmount, dtype: float64

In [13]:
#5.	Remove duplicate patient records based on PatientID

In [14]:
pdf.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [16]:
pdf[pdf.duplicated()]

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

In [18]:
df3= pdf.drop([5],axis=0)
df3

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45

In [ ]:
#6.	Fill missing BillAmount values with the mean bill amount.

In [20]:
import numpy as np

In [22]:
mean= np.round(df3['BillAmount'].mean())

In [25]:
df3.isnull()

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False

In [28]:
df3['BillAmount'].fillna(value=mean,inplace= True)
df3

C:\Users\andeb\AppData\Local\Temp\ipykernel_13848\406390634.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['BillAmount'].fillna(value=mean,inplace= True)

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,6233.0,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,6233.0,2,2023-01-14 08:45

In [ ]:
#7.	Merge the billing dataset with patient dataset on PatientID

In [29]:
# here patient dataset is df3 and billing dataset is bdf

In [31]:
bdf= pd.read_csv("Billing_Data.csv")
bdf

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [35]:
df4= pd.merge(df3,bdf,on='PatientID')
df4

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00,2000,3000
1,102,Bob,Neurology,Dr. John,6233.0,2,2023-01-11 10:30,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00,3000,3200
4,105,Eva,Dermatology,Dr. Rose,6233.0,2,2023-01-14 08:45,1000,4000

In [ ]:
#8.	Concatenate an additional DataFrame that contains new patients for the current week (row-wise).

In [53]:
Data={
    'Name':['Reena','Teena'],
    'PatientID':[106,107],
    'Department':['Cardiology','Orthopedics'],
    'BillAmount':[3500,4500],
    'ReceptionistID':[3,1],
    'Doctor':['Dr.Smith','Dr.Lee'],
    'CheckInTime':["2023-01-10 09:00","2023-01-12 11:00"]
}

In [54]:
df5= pd.DataFrame(Data)
df5

,Name,PatientID,Department,BillAmount,ReceptionistID,Doctor,CheckInTime
0,Reena,106,Cardiology,3500,3,Dr.Smith,2023-01-10 09:00
1,Teena,107,Orthopedics,4500,1,Dr.Lee,2023-01-12 11:00

In [55]:
#row concatination of df3 with pdf

In [66]:
df6= pd.concat([df3,df5],ignore_index= True)
df6

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,6233.0,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,6233.0,2,2023-01-14 08:45
5,106,Reena,Cardiology,Dr.Smith,3500.0,3,2023-01-10 09:00
6,107,Teena,Orthopedics,Dr.Lee,4500.0,1,2023-01-12 11:00

In [67]:
#9.	Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).

In [83]:
data={
    'InsuranceCovered':[2000,1500,2500,3000,1000,2000,1000],

    'FinalAmount':[3000,4733,5000,3200,5233,1500,3500]
}

In [84]:
df7= pd.DataFrame(data)
df7

   InsuranceCovered  FinalAmount
0              2000         3000
1              1500         4733
2              2500         5000
3              3000         3200
4              1000         5233
5              2000         1500
6              1000         3500

In [85]:
#column concatinating df6 and df7

In [86]:
df8= pd.concat([df6,df7],axis=1)

In [87]:
df8

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00,2000,3000
1,102,Bob,Neurology,Dr. John,6233.0,2,2023-01-11 10:30,1500,4733
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00,3000,3200
4,105,Eva,Dermatology,Dr. Rose,6233.0,2,2023-01-14 08:45,1000,5233
5,106,Reena,Cardiology,Dr.Smith,3500.0,3,2023-01-10 09:00,2000,1500
6,107,Teena,Orthopedics,Dr.Lee,4500.0,1,2023-01-12 11:00,1000,3500